# APP
PORT=3001

# DATABASE (docs: https://pris.ly/d/connection-strings)
DATABASE_URL="mysql://dbusername:dbpassword@dbhost:3306/dbname"

# JWT
ACCESS_TOKEN_AGE=3600               # access token age in second
ACCESS_TOKEN_SECRET=secret          # input your jwt secret
